@font-face {
    font-family: Montserrat-Regular;
    src: url("/assets/fonts/Montserrat-Regular.ttf")
}
@font-face {
    font-family: Roboto-Regular;
    src: url("/assets/fonts/RobotoSlab-Regular.ttf")
}
* {
    font-size: 10px;
    font-family: Montserrat-Regular
}
body {
    width: 100%;
}
.welcome {
    width: 100%;
    background-image: url("../assets/img/welcome_background.png");
    background-size: cover;
    &-header {
        display: flex;
        padding: 4em 23em 26em 23em;
        justify-content: space-between;
        &__logo {
            color: rgb(255, 255, 255);
            font-size: 2.4em;
            font-weight: bold;
        }
        &__nav {
            color: rgb(255, 255, 255);  
            align-self: center;
                &-button {
                    font-size: 1.4em;
                    padding: 1.4em;
                }
            }
        }
    &-title {
        text-align: center;
        padding-bottom: 26em;
        color: rgb(255, 255, 255);
        &__head {
            font-size: 4.8em;
            text-transform: uppercase;
            line-height: 2em;
            & span {
                font-size: inherit;
                text-transform: inherit;
                line-height: inherit;
            }
        }
        &__text {
            font-family: Roboto-Regular;
            font-size: 2em;
            padding-bottom: 2.25em
        }
        &__button {
            color: rgb(255, 255, 255);
            background-color: transparent;
            font-size: 1.6em;
            border: 0.05em solid  rgb(255, 255, 255);
            padding: 1em 2em 1em 2em
        }
    }
}
.services {
    width: 100%;
    background: rgb(255, 255, 255);
    color: rgb(85, 85, 85);
    &-title {
        text-align: center;
        padding: 10em 0em 7em 0em;
        &__header {
            font-size: 2em;
            text-transform: uppercase;
            padding-bottom: 1.5em;
        }
        &__line {
            background-color: rgb(85, 85, 85);
            width: 5em;
            height: 0.2em;
            border: 0em;
            margin: 0em auto 0em auto;
        }
        &__text {
            font-family: Roboto-Regular;
            font-size: 1.6em;
            padding-top: 1.875em;
        }
    }
    &-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 38em;
            height: 32em;
            margin-right: 1.5em;
            &__img {
                text-align: center;
                &-circle {
                    width: 9em;
                    height: 9em;
                    border-radius: 50%;
                    background-color: rgb(255, 255, 255);
                    border: 0.05em solid rgba(192, 48, 28, 0.2);
                }
                &-circle:hover {
                    //color: rgb(255, 255, 255);
                    //background-color: rgb(192, 48, 28);
                }
            }
            &__head {
                font-size: 1.4em;
                text-transform: uppercase;
                padding: 2.14em 0em 2.12em 0em
            }
            &__text {
                font-family: Roboto-Regular;
                font-size: 1.4em;
                text-align: center;
                padding: 0em 1em 0em 1em;
            }
        }
    }
}
#circle2 {
    padding-top: 2.3em;
}
#circle3 {
    padding-top: 2em;
}
.about {
    width: 100%;
    background: rgb(248, 248, 248);
    color: rgb(85, 85, 85);
    &-title {
        text-align: center;
        padding: 10em 0em 7em 0em;
        &__header {
            font-size: 2em;
            text-transform: uppercase;
            padding-bottom: 1.5em;
        }
        &__line {
            background-color: rgb(85, 85, 85);
            width: 5em;
            height: 0.2em;
            border: 0em;
            margin: 0em auto 0em auto;
        }
        &__text {
            font-family: Roboto-Regular;
            font-size: 1.6em;
            padding-top: 1.875em;
        }
    }
    &-text-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0em 0em 7em 0em;
        &-item {
            width: 38%;
            font-family: Roboto-Regular;
            font-size: 1.4em;
            padding: 0em 2em 0em 2em
        }
    }
    &-pic-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 8.5em;
        &-item {
            display: block;
            margin: 1.5em;
            &__img1 {
                background-image: url("/assets/img/photo1.png");
                width: 26.3em;
                height: 25em;
                &-logo {
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    &1:first-child {
                        width: 3em;
                        height: 3em;
                        padding: 20em 0em 2em 8em;
                        fill: white;
                    }
                    &1 {
                        width: 3em;
                        height: 3em;
                        padding: 20em 0.7em 2em 0.7em
                    }
                }
            }
            &__img1:hover .about-pic-block-item__img1-logo {
                opacity: 1;
                background: rgba(0, 0, 0, 0.3);
            }
            &__img2 {
                background-image: url("/assets/img/photo2.png");
                width: 26.3em;
                height: 25em;
            }
            &__img3 {
                background-image: url("/assets/img/photo3.png");
                width: 26.3em;
                height: 25em;
            }
            &__img4 {
                background-image: url("/assets/img/photo4.png");
                width: 26.3em;
                height: 25em;
            }
            &__text {
                text-align: center;
                &-big {
                    text-transform: uppercase;
                    font-size: 1.4em;
                    line-height: 3em
                }
                &-small {
                    font-family: Roboto-Regular; 
                    font-size: 1.3em 
                }
            }
        }
    }
}
.works {
    width: 100%;
    background: rgb(248, 248, 248);
    color: rgb(85, 85, 85);
    &-title {
        text-align: center;
        padding: 10em 0em 7em 0em;
        &__header {
            font-size: 2em;
            text-transform: uppercase;
            padding-bottom: 1.5em;
        }
        &__line {
            background-color: rgb(85, 85, 85);
            width: 5em;
            height: 0.2em;
            border: 0em;
            margin: 0em auto 0em auto;
        }
        &__nav {
            padding-top: 3em;
            &-button {
                font-family: Roboto-Regular;
                font-size: 1.6em;
                padding: 1em
            }
            &-button:hover {
                color: rgb(192, 48, 28); 
            }
        }
    }
    &-pic-block {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 8em;
        &-item { 
            width: 36em;
            height: 32em;
            margin: 0em 3em 3em 0em;
            &__hover {
                width: 100%;
                height: 100%;
                opacity: 0;
                text-align: center;
                color:  rgb(248, 248, 248);
                & h1 {
                    font-size: 1.8em;
                    margin-top: 0em;
                }
                & h2 {
                    font-family: Roboto-Regular;
                    font-size: 1.2em;
                    margin-bottom: 2em;
                }
                & button {
                    width: 7.15em;
                    height: 2.85em;
                    background-color: rgb(248, 248, 248);                    font-family: Roboto-Regular;
                    font-family: Roboto-Regular;
                    font-size: 1.4em;
                    color:  rgb(192, 48, 28); 
                    text-transform: uppercase;
                    border: none;
                }
            }
        }
        &-item:hover .works-pic-block-item__hover {
            opacity: 1;
            background-color: rgba(192, 48, 28, 0.7); 
        }
    }
}
#work1 {
    background-image: url("/assets/img/work1.png");
}
#work2 {
    background-image: url("/assets/img/work2.png");
}
#work3 {
    background-image: url("/assets/img/work3.png");
}
#work4 {
    background-image: url("/assets/img/work4.png");
}
#work5 {
    background-image: url("/assets/img/work4.png");
}
#work6 {
    background-image: url("/assets/img/work6.png");
}
#work7 {
    background-image: url("/assets/img/work7.png");
}
#work8 {
    background-image: url("/assets/img/work8.png");
}
#work9 {
    background-image: url("/assets/img/work9.png");
}
.touch {
    width: 100%;
    background-image: url("/assets/img/touch-background.png");
    background-size: cover;
    color:  rgb(248, 248, 248);   
    background-color: rgba(192, 48, 28, 0.7); 
    padding-bottom: 10em;
    &-text {
        width: 100%;
        font-family: Roboto-Regular;
        font-size: 3em; 
        padding-top: 3.33em;
        text-align: center;
    }
    &-button {
        width: 10em;
        height: 2.8em;
        font-family: Roboto-Regular;
        font-size: 1.8em; 
        border: 0.1em solid  rgb(248, 248, 248);
        text-align: center;
        margin: 2.8em auto 0em auto;
        line-height: 2.8em
    }
}
.blog {
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    color: rgb(85, 85, 85);
    &-title {
        text-align: center;
        padding: 10em 0em 7em 0em;
        &__header {
            font-size: 2em;
            text-transform: uppercase;
            padding-bottom: 1.5em;
        }
        &__line {
            background-color: rgb(85, 85, 85);
            width: 5em;
            height: 0.2em;
            border: 0em;
            margin: 0em auto 0em auto;
        }
        &__text {
            font-family: Roboto-Regular;
            font-size: 1.6em;
            padding-top: 1.875em;
        }
    }
    &-post {
        width: 80%;
        margin-bottom: 8em;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        &-img {
            flex: 1;
            height: fit-content;
            & img {
                width: 46em;
                height: 32.2em;
            }
        }
        &-content {
            flex: 2;
            height: auto;
            color:  rgb(85, 85, 85);
            margin-left: 4em;
            &__row1 {
                width: 100%;
                display: flex;
                &-date {
                    width: 4.375em;
                    height: 3.375em;
                    font-size: 1.6em;
                    font-weight: bold;
                    border: 0.15em solid  rgb(85, 85, 85);
                    text-align: center; 
                    padding-top: 1em;
                }
                &-text {
                    margin-left: 2em;
                    &1 {
                        text-transform: uppercase;
                        text-transform: uppercase;
                        font-size: 1.6em;
                        margin: 0.6em 0em 0em 0em;
                    }
                    &2 {
                        font-style: italic;
                        font-size: 1.3em;
                        span {
                            font-size: 1em;      
                        }
                    }
                }
            }
            &__row2 {
                font-family: Roboto-Regular;
                font-size: 1.4em;
                line-height: 1.8em;
                padding-top: 1.5em;
            }
            &__row3 {
                &-button {
                    width: 7em;
                    height: 4em;
                    font-family: Roboto-Regular;
                    font-size: 1.3em;
                    font-weight: bold;
                    color:  rgb(85, 85, 85);
                    margin-top: 1em;
                    background-color:  rgba(0, 0, 0, 0);
                    border: none;
                }
            }
        }
        &-content:hover .blog-post-content__row1-text1 {
            color:  rgb(192, 48, 28); 
        }
        &-content:hover .blog-post-content__row1-text2 span {
            color:  rgb(192, 48, 28); 
        }
        &-content:hover .blog-post-content__row3-button {
            color:  rgb(192, 48, 28); 
        }
    }
    &-post:last-child {
        margin-bottom: 10em;
    }
}
.logo {
    width: 100%;
    height: auto;
    background: rgb(248, 248, 248);
    color: rgb(85, 85, 85);
    &-row {
        width: max-content;
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        padding: 10em 0em 7em 0em;
        &__img {
            padding: 0em 4em;
        }
    }
    &-text {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 15em;
        &__text1 {
            font-family: Roboto-Regular;
            font-size: 1.8em;
            line-height: 1.8em;
            font-style: italic;
            text-align: center;
            margin-bottom: 2em;
        }
        &__text2 {
            font-family: Roboto-Regular;
            font-size: 2em;
            text-align: center
        }
    }
}
.feedback {
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    color: rgb(85, 85, 85);
    padding-bottom: 10em;
    &-title {
        text-align: center;
        padding: 10em 0em 7em 0em;
        &__header {
            font-size: 2em;
            text-transform: uppercase;
            padding-bottom: 1.5em;
        }
        &__line {
            background-color: rgb(85, 85, 85);
            width: 5em;
            height: 0.2em;
            border: 0em;
            margin: 0em auto 0em auto;
        }
        &__text {
            font-family: Roboto-Regular;
            font-size: 1.6em;
            padding-top: 1.875em;
        }
    }
    &-content {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        &-adress {
            width: 37%;
            &__item {
                &-img {
                    width: 8%;
                    height: auto;
                    float: left;
                }
                &-text {
                    width: 92%;
                    float: left;
                    &1 {
                        font-size: 1.4em;
                        text-transform: uppercase;
                        margin-bottom: 0.5em;
                    }
                    &1:first-child {
                        font-size: 1.4em;
                        text-transform: uppercase;
                        margin: 0em 0em 0.5em 0em;
                    }
                    &2 {
                        font-family: Roboto-Regular;
                        font-size: 1.2em; 
                        line-height: 2em;
                        margin-top: 0.5em;
                    }
                }
            }
        }
        &-input {
            width: 63%;
            display: flex;
            flex-wrap: wrap;
            font-family: Roboto-Regular;
            font-size: 1.2em; 
            &__item1 {
                width: 29em;
                height: 3.75em;
                margin: 0em 2.5em 2em 0em ;
                padding-left: 2em;
                border: 0.1em solid
            }
            &__item1:hover {
                border: 0.1em solid rgb(192, 48, 28); 
            }
            &__item2 {
                width: 60.8em;
                height: 8.3em;
                margin: 0em 2.5em 2em 0em ;
                padding-left: 2em;
                border: 0.1em solid
            }
            &__item2:hover {
                border: 0.1em solid rgb(192, 48, 28); 
            }
            &__button {
                width: 14.16em;
                height: 3.75em;
                background-color: rgba(0, 0, 0, 0);
                border: 0.1em solid rgb(85, 85, 85);
            }
            &__button:hover {
                border: 0.1em solid rgb(192, 48, 28); 
            }
            &__text {
                & span {
                    color:  rgb(192, 48, 28); 
                    font-family: Roboto-Regular;
                    font-size: 1.2em; 
                    line-height: 3em;
                    padding-left: 2.5em;
                }
            }
        }
    }
}
.footer {
    width: 100%;
    background-color:  rgb(192, 48, 28); 
    color:  rgb(255, 255, 255);
    &-title {
        text-align: center;
        padding: 10em 0em 7em 0em;
        &__header {
            font-size: 2em;
            text-transform: uppercase;
            padding-bottom: 1.5em;
            &-img {
                padding: 0em 0.5em;
            }
        }
        &__line {
            background-color: rgb(255, 255, 255);
            width: 5em;
            height: 0.2em;
            border: 0em;
            margin: 0em auto 0em auto;
        }
        &__text {
            font-family: Roboto-Regular;
            font-size: 1.2em;
            padding-top: 2.5em;
            text-transform: uppercase;
        }
    }
}
@media screen and (max-width: 1300px) {
    .welcome-header {
        padding: 4em 8em 26em 8em;
    }
    .services {
        &-block {
            &-item {
                width: 34em;
                &__img {
                    transform: scale(0.9)
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .welcome {
        height: max-content;
        &-header {
            flex-direction: column;
            padding: 4em 4em 12em 4em;
            &__logo {
            align-self: center;
            padding-bottom: 1em};
            &__nav-button {
                padding: 1em;
            }
        }
        &-title {
            padding-bottom: 14em;
        }
    }
    .services {
        &-block {
            &-item {
                height: 34em;
                &__img {
                    transform: scale(0.9)
                }
                &__text {
                    font-size: 1.3em;
                }
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .welcome {
        &-header {
            padding: 4em 3em 10em 3em;
            &__nav {
                text-align: center;
                &-button {
                    font-size: 1.3em;
                    line-height: 2em; 
                }
            }
        }
        &-title {
            padding-bottom: 12em;
            &__head {
                font-size: 4em;
                line-height: 1.2em;
            }
            &__text {
                font-size: 1.8em;
                padding-top: 2em
            }
            &__button {
                transform: scale(0.9)
            }
        }
    }
    .services {
        &-title {
            padding: 7em 0em 5em 0em;
            &__header {
                padding-bottom: 1em;
            }
            &__text {
                padding-top: 1.2em;
            }
        }
    }
}
@media screen and (max-width: 520px) {
    .welcome {
        &-header {
            padding: 4em 3em 8em 3em; 
        }
        &-title {
            padding-bottom: 8em;
            &__head {
                width: 70%;
                margin: 0em auto 1em auto;
                font-size: 3.5em;
                line-height: 2em;
                display: block;
                span {
                    font-size: 1.6em;
                }
            }
        }
        &-title__text {
            font-size: 1.5em;
        }
        &-title__button {
            transform: scale(0.8)
        }
    }
}
@media screen and (max-width: 450px) {
    .welcome {
        &-title {
            &__head {
                width: 80%;
            }
        }
    }
}